.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background: transparent;

  }
  
  .btn-nav {
    background: #111B47;
    color: white;

  }
  
  .nav-txt {
    color: #37447E;
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 20px;
  }
  
  .nav-list {
    display: flex;
    list-style: none; 
 
  }
  
  .nav-list li {
    margin-right: 20px; 
    color: #505F98;
    font-weight: 500;
  }
  .btn-nav{
    background: #111B47;
    border-radius: 3px;
  }
  .btn-nav:hover{
    background: #0d1435;
  }
  